body {
  font-family: sans-serif;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5vw;
  margin-left: 5vw;
  position: relative;
  top: 64px;
}

.game {
  width: 100%;
  height: 50%;
  background-color: white;
  display: flex;
  border-bottom: 2px solid grey;
  transition: all .2s ease-in-out;
  align-items: center;
  text-decoration: none;
  color: black;
}

.game:hover {
  transform: scale(1.1);
  background-color: whitesmoke;
}

.middleInfo {
  height: 100px;
  width: 300px;
  background-color: whitesmoke;
  border: 2px solid grey;
  margin-bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: -120px;
  margin-left: -120px;
}

.middleInfo h1 {
  margin: 0;
  font-size: 3em;
}

.middleInfo h2 {
  margin: 0
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 50%;
}

.away {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 50%;
}

.home {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
}

.nameLogo {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home h2 {
  font-size: 10em;
}

.away {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.2em;
}

.away h2 {
  font-size: 10em;
}

.date {
  display: flex;
  height: 100px;
  align-items: center;
  width: 40%;
  justify-content: space-around;
}

#prev {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#prev:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

#next {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#next:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.gameview {
  width: 90vw;
  margin-right: 5vw;
  margin-left: 5vw;
  position: relative;
  top: 64px;
}

.singlegame {
  width: 90vw;
  height: 90vh;
}

.scoreboard {
  width: 90vw;
  height: 30vh;
  background-color: white;
  display: flex;
  justify-content: space-between; 
  position: fixed;
  top: 64px;
  /* padding-top: 64px; */
  border-bottom: 5px solid black;
  z-index: 1;
}

.scoreboard h1 {
  font-size: 10em;
  margin: 10%;
}

.middleInfoSmall {
  background-color: whitesmoke;
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middleInfoSmall h1 {
  font-size: 3em;
  margin: 0;
}

.middleInfoSmall h2 {
  font-size: 1.5em;
  margin: 0;
}

.period {
  display: flex;
  height: 150px;
  width: 40vw;
  padding: 0;
  justify-content: space-between;
  background-color: white;
  border-top: 2px solid lightgrey;
  padding-left: 5%;
  padding-right: 5%;
}

.period h1 {
  margin: 0;
}

.period h2 {
  margin-top: 5px;
}

.periodmiddle {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2%;
}

.periodmiddle h1 {
  margin: 0;
}

.periodhome {
  width: 50%;
}

.periodaway {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.periodhome {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.periodInfo {
  height: 100%;
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-left: 5%;
  padding-right: 5%;
}

.detailed {
  display: flex;
  width: 100%;
  height: 60vh;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30vh;
  border-bottom: 5px solid black;
}


.boxscore h2 {
  font-size: 1em;
}

.box {
  height: 100%;
  width: 25vw;
  background-color: white;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
}

.boxscore-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.game-chart {
  height: 50vh;
  width: 55vw;
}

.shotGraph {
  height: 500px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.legend {
  height: 500px;
  width: 500px;
}

.chart {
  height: 500px;
  width: 500px;
}

.goalGraph {
  height: 500px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventfeed {
  width: 90vw;
  background-color: white;
  padding-top: 20px;
}

.gameEvent {
  width: 90%;
  margin-left: 5%;
  height: 10%;
  background-color: whitesmoke;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.gameEvent h1 {
  margin-top: 0;
  font-weight: bolder;
}

.gameEvent a {
  color: black;
}

.gameEvent a:hover {
  color: darkblue;
}

.gameEvent h2 {
  font-size: 1.4em;
}

.faceoff {
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeEvent {
  width: 100%;
  background-color: #9ecaa2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.penaltyEvent {
  width: 100%;
  background-color: #88b7bd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shotEvent {
  width: 100%;
  background-color: #f7d18a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.missedShotEvent {
  background-color: #e2d0aa;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goalEvent {
  background-color: #f8684f;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.regularEvent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player {
  width: 100vw;
  background-color: whitesmoke;
  position: relative;
}

.playerPhoto {
  width: 100%;
  max-height: 60vh;
}

.playerHeader {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.playerHeader h1{
  margin: 0;
  margin-bottom: 10px;
  font-size: 5em;
  border-bottom: 2px solid lightgrey;
}

.playerHeader h2{
  margin: 0;
  margin-bottom: 10px;
  font-size: 2.5em;
  border-bottom: 2px solid lightgrey;
}

.playerHeader h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 2em;
  border-bottom: 2px solid lightgrey;
}

.scoringPlays {
  width: 90vw;
  border-bottom: 5px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.scoringPlay h1 {
  font-size: 3em;
  padding-left: 5%;
  padding-right: 5%;
}

.scoringPlay {
  border-bottom: 2px solid lightgrey;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scoringPlay h1 {
  margin-bottom: 0;
}

.scoringDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scoringDescription h1 {
  padding-bottom: 5px;
  border-bottom: 2px solid lightgrey;
  font-size: 1.5em;
}

.seasonTotals {
  width: 80%;
}

.seasonTotalsRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.seasonTotalsFaceoffRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 500px;
}

.seasonTotalsRow canvas {
  padding: 1%;
}

.chart {
  width: 20vw;
}

.chart2 {
  width: 80vw;
  height: 400px;
}

.seasonTotalCharts {
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(78, 76, 76);
}

.standings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: relative;
  top: 64px;
}

.homeLink:hover {
  background-color: whitesmoke;
}

.conference {
  width: 90%;
  min-height: 90vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
  border-bottom: 50px solid black;
}

.conference h1 {
  border-bottom: 2px solid lightgrey;
}

.division {
  background-color: lightgrey;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border: 5px solid black;
}

.standingsrow {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  border-bottom: 3px solid lightgrey;
}

.standingsrow a {
  text-decoration: none;
  color: black;
}

.standingsrow a:hover {
  text-decoration: underline;
  color: darkblue;
}

.standingsrowname {
  width: 30%;
  display: flex;
  justify-content: center;
}

.standingsrowrecord {
  width: 30%;
  display: flex;
  justify-content: center;
}

.standingsrowgamesplayed {
  width: 20%;
  display: flex;
  justify-content: center;
}

.standingsrowpoints {
  width: 20%;
  display: flex;
  justify-content: center;
}

.teamInfo {
  width: 90vw;
  min-height: 90vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teamImg {
  height: 50vh;
  width: 50vw;
  margin-top: 5vh;
}

.teamInfo div {
  width: 90%;
  font-size: 2em;
  margin-top: 30px;
  background-color: white;
  padding: 20px;
  border-bottom: 3px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.teamInfo div h1 {
  margin-bottom: 0;
}

.teamInfo div h2 {
  margin-top: 0;
}

.dashLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  padding: 5px;
}

.dashLink:hover {
  background-color: white;
}

.navBar {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7da5d8;
  border-bottom: 4px solid black;
  z-index: 1;
  position: fixed;
}

.navBar h1 {
  margin-right: 15vw;
  margin-left: 15vw;
}

.playerPosition {
  position: relative;
  top: 64px;
}